In [1]:
import os
import sys
import json
import pandas as pd
import numpy as np

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
TOP_PATH = os.environ['PWD']

In [4]:
sys.path.append(TOP_PATH + '/config')
sys.path.append(TOP_PATH + '/src')

In [40]:
import etl
from trends import *
from cleaning import clean_2014_2016
from cleaning import clean_2017
import cleaning

In [ ]:
with open(TOP_PATH + '/config/data-params.json') as fh:
    cfg = json.load(fh)

In [ ]:
etl.get_data(**cfg)

In [20]:
c = pd.read_csv(TOP_PATH + '/data/raw/DACA.csv')

In [21]:
c.drop('Unnamed: 0', axis = 1, inplace = True)

In [22]:
c

           date value
0    2017-07-05    <1
1    2017-07-06    <1
2    2017-07-07    <1
3    2017-07-08    <1
4    2017-07-09    <1
..          ...   ...
119  2017-11-01     1
120  2017-11-02     1
121  2017-11-03     1
122  2017-11-04     1
123  2017-11-05     1

[124 rows x 2 columns]

In [28]:
c['value'] = pd.to_numeric(c['value'], errors = 'coerce')
c['value'] = c['value'].fillna(0)

In [31]:
c

           date  value
0    2017-07-05    0.0
1    2017-07-06    0.0
2    2017-07-07    0.0
3    2017-07-08    0.0
4    2017-07-09    0.0
..          ...    ...
119  2017-11-01    1.0
120  2017-11-02    1.0
121  2017-11-03    1.0
122  2017-11-04    1.0
123  2017-11-05    1.0

[124 rows x 2 columns]

In [38]:
(TOP_PATH + '/data/raw/Black_Panther.csv')[60:-4]

'Black_Panther'